{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Subscription Widget -->
    <div class="d-flex flex-column align-items-center justify-content-center text-center mt-8" style="background-color: black; color: white; padding: 30px; border-radius: 10px; max-width: 700px; margin: 0 auto;">
        <h1 class="display-6">
            <span style="color: gold;">ALNA CLUB</span> Investment
        </h1>
        <p>Welcome to ALNA CLUB - a membership based real estate investment platform</p>
        <p>Join our email list if you are interested in our updates.</p>

        <form method="POST" action="{% url 'home' %}" style="width: 100%;">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                <button class="btn btn-auth" type="submit">Sign up</button>
            </div>
            <!-- Display Success or Error Messages -->
            {% if message %}
            <div class="mt-3 alert {% if message_type == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                {{ message }}
            </div>
            {% endif %}
        </form>
    </div>
    <!-- Image Section-->
    <div id="customCarousel" class="carousel slide my-5" data-bs-ride="carousel" data-bs-interval="10000">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    
        <!-- Carousel Items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/ImportantFactorsInvesting.jpg' %}" class="d-block w-100 custom-carousel-image" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/RealEstateInvestment.jpg' %}" class="d-block w-100 custom-carousel-image" alt="Image 2">
            </div>
        </div>
    </div>

    <div class="placeholder-section text-center">
        <h1>
            Why you should choose  <span class="text-highlight">ALNA club.</span>
        </h1>
        <p>ALNA Club is a Miami, FL based real estate firm with over 15 years of expertise. 
            Specializing in investment opportunities across residential properties, 
            we boast a robust network of buyers, sellers, and contractors. 
            If you're looking to invest in Real Estate renovations projects trust ALNA Club to navigate your ventures with precision and success.</p>
    
        <div class="placeholder-grid">
            <div class="placeholder-card"> 
                <h3>Renovation Opportunities:</h3>
                <p> Older homes and properties in need of renovation present opportunities 
                    for investors to add value and increase profitability through strategic upgrades.</p>
            </div>
            <div class="placeholder-card">
                <h3>Diverse Real Estate Options:</h3>
                <p>From beachfront condos to suburban homes and urban properties, 
                    we offer a wide range of real estate types to cater to various investment strategies.</p>
            </div>
            <div class="placeholder-card">
                <h3>Quick Returns: </h3>
                <p>Compared to long-term real estate investments, 
                    house flipping offers the potential for relatively quick turnaround times, enabling investors to realize profits faster.</p>
            </div>
            <div class="placeholder-card">
                <h3>Market Demand: </h3>
                <p>There is often a demand for renovated homes among buyers seeking move-in ready properties, 
                    especially in competitive housing markets.</p>
            </div>
        </div>
    </div>
 
</div>
{% endblock %}